body{
    background-image: url(src/assets/digital-clock.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

.clock{
  color: white;
  font-size: 6rem;
  font-family: monospace;
  text-align: center;
}